:root {
  --color-1: #4a4a4a;
  --color-2: #ae23a9;
  --color-3: #dc4e1b;
  --color-4: #9b9b9b;
  --color-5: #ffffff;
  --color-6: #f9f9f9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
